body{
    background-color: rgb(194, 255, 182);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.cabeça{
    background-color: rgb(1, 20, 9);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 600px) {
    body {
        width: 100%;
  }
}
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: rgb(193, 216, 171);

}

.cabeça h1 {
    margin: 0;
    padding: 30px;
    color: rgb(193, 216, 171);
}

.appbutton{
    background-color: rgb(1, 20, 9);
    border: 2px solid rgb(193, 216, 171);
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.introducao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    @media only screen and (max-width: 600px) {
    body {
        width: 100%;
  }
}
}

.introducao img{
    width: 400px;
    height: auto;
    @media only screen and (max-width: 600px) {
    body {
        width: 100%;
  }
}
}

.fundoimg{
    background-image: url("../img/fundologo.png");
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    @media only screen and (max-width: 600px) {
    body {
        width: 100%;
  }
}
}

.introtexto{
    color: rgb(1, 20, 9);
}

.controle{
    color: rgb(42, 102, 30);
    text-decoration: underline;
}

.introtexto h1{
    font-weight: bold;
}

.introbutton{
    background-color: rgb(1, 20, 9);
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.introbutton a{
    text-decoration: none;
    color: rgb(193, 216, 171);
    font-weight: bold;
}

.sobresis{
    background-color: rgb(214, 236, 223);
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobresish1{
    padding: 45px;
    color: rgb(1, 20, 9);
    font-weight: bold;
}

.containersobresis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 300px;
}

.containersobresis div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.sobresisfooter{
    background-color: rgb(173, 241, 159);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.containercadastro{
    width: auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 236, 223);
}

.cadastro{
    background-color: rgb(209, 217, 223);
    height: 400px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.cadastro h1{
    color: rgb(1, 20, 9);
}

.cadastrotexto{
    width: 400px;
    padding-left: 30px;
    padding-right: 15px;
}

.cadastrotexto p{
    text-align: justify;
}

.cadastro form{
    background-color: rgb(189, 207, 196);
    padding-right: 30px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    border: 2px solid gray;
}

form p{
    text-align: center;
    font-size: 12px;
}

.abaform{
    width: 350px;
    height: 40px;
    border-radius: 20px;
}

form button{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(1, 20, 9);
    color: white;
}

.containerkits{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(214, 236, 223);
    color: rgb(1, 20, 9);
}

.containerkits2{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(214, 236, 223);
}

.escolhakit{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 350px;
    height: 325px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.escolhakit h1{
    color: rgb(1, 20, 9);
}

.escolhakit h2{
    color: rgb(42, 102, 30);
    font-weight: bold;
    font-size: 40px;
}

.escolhakit button{
    background-color: rgb(1, 20, 9);
    font-size: 15px;
    height: 40px;
    border-radius: 10px;
}

.escolhakit button a{
    text-decoration: none;
    color: white;
}